<% if object.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.t("views.shared.validation_errs") %>:</h3>
      </div>

      <div class="panel-body">
        <ul>
          <% object.errors.messages.each do | key, message |%>
              <% message.each do | err_message |%>
                  <li><%= err_message %></li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>