<div class="form-group">
  <label for="translated_text" class="col-lg-2 control-label"><%= value %></label>
  <div class="col-lg-10">
    <%= f.input property, hint: false, label: false, error:false, input_html: { class: 'form-control' } %>
  </div>
</div>